<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>

@code{
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#673AB7",
            Secondary = "#00ACC1",
            Danger = "#F4511E",
            Success = "#00C853",
            Info = "#1565C0",
            Warning = "#FFEE58"
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Dark = "#121212",
            Primary = "#673AB7"
        },
        IsGradient = true
    };
}