@inject AuthHttp http
@inject NavigationManager navManager
@inject IJSRuntime js

<div class="d-flex">
    <button class="btn btn-outline-secondary ml-auto" data-toggle="modal" data-target="#applyModal">
        <i class="mdi mdi-plus"></i> Apply
    </button>
</div>
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Apply to this wager</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
            <EditForm EditContext="EditContext" OnValidSubmit="SubmitChallenge" OnInvalidSubmit="SetErrors">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    @if (!HasKey)
                    {
                        <div class="alert alert-danger" role="alert">
                            You do not have a Stellar public key set. Go to <a @onclick="GoToProfile" role="button" class="alert-link">your profile management page</a> to set one.
                        </div>
                    }
                    <ErrorDisplay @bind-Errors="Errors" />
                    <div class="table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Payable (%)</th>
                                    <th scope="col">Receivable (%)</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Challenge.Members.Count; i++)
                                {
                                    WagerMember member = Challenge.Members[i];
                                    <tr>
                                        <td>@member.Profile.DisplayName</td>
                                        @if (EditIndex == i)
                                        {
                                            <td>
                                                <input type="number" @bind-value="member.PayablePercentage" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="number" @bind-value="member.ReceivablePercentage" class="form-control" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@member.PayablePercentage%</td>
                                            <td>@member.ReceivablePercentage%</td>
                                        }
                                        <td>
                                            <div class="btn-group">
                                                @if (EditIndex == i)
                                                {
                                                    <button type="button" class="btn btn-link"><i class="mdi mdi-content-save" @onclick="() => EditIndex = -1"></i></button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-link"><i class="mdi mdi-pencil" @onclick="() => EditIndex = i"></i></button>
                                                }
                                                @if (member.ProfileId != Context.User.GetId())
                                                {
                                                    <button type="button" class="btn btn-link" @onclick="() => Challenge.Members.RemoveAt(i)"><i class="mdi mdi-delete"></i></button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr class="border-top">
                                    <th scope="row">Total:</th>
                                    <td>@Challenge.Members.Sum(x => x.PayablePercentage)%</td>
                                    <td>@Challenge.Members.Sum(x => x.ReceivablePercentage)%</td>
                                    <td><button type="button" class="btn btn-sm btn-outline-secondary" @onclick="Normalize">Normalize</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-primary btn-block" data-toggle="collapse" data-target="#addCollapse" aria-expanded="false" aria-controls="addCollapse">
                        <i class="mdi mdi-account-plus"></i> Add User
                    </button>
                    <div class="collapse" id="addCollapse">
                        <div class="form-row my-2">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="displayName">Display Name</label>
                                    <input type="text" autocomplete="off" @bind-value="DisplayName" class="form-control" id="displayName" @bind-value:event="oninput" @onkeyup="BeginTimer" />
                                </div>
                                @if (Profiles.Count > 0)
                                {
                                    <div class="card overflow-auto" style="max-height: 6rem;">
                                        <div class="btn-group-vertical w-100">
                                            @for (int i = 0; i < Profiles.Count; i++)
                                            {
                                                Profile profile = Profiles[i];
                                                <button type="button" class="btn btn-block btn-sm @(SelectedIndex == i ? "btn-outline-success" : "btn-outline-secondary")" @onclick="() => SelectedIndex = i">@profile.DisplayName</button>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="payablePt">Payable %</label>
                                    <input type="number" @bind-value="Member.PayablePercentage" class="form-control" id="payablePt" />
                                </div>
                                <div class="form-group">
                                    <label for="receivablePt">Receivable %</label>
                                    <input type="number" @bind-value="Member.ReceivablePercentage" class="form-control" id="receivablePt" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" @onclick="ResetUser">Reset</button>
                        <button type="button" class="btn btn-success" @onclick="AddUser">Confirm</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    @using System.Timers;
    [Parameter]
    public AuthenticationState Context { get; set; }
    [Parameter]
    public int WagerId { get; set; }
    private WagerChallenge Challenge { get; set; } = new WagerChallenge { Members = new List<WagerMember>() };
    private WagerMember Member { get; set; } = new WagerMember();
    private IEnumerable<string> Errors { get; set; }
    private Timer Debounce { get; set; } = new Timer(750) { AutoReset = false };
    private List<Profile> Profiles { get; set; } = new List<Profile>();
    private EditContext EditContext { get; set; }
    private string DisplayName { get; set; }
    private bool HasKey { get; set; } = false;
    private int EditIndex = -1;
    private int SelectedIndex = -1;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Challenge);
        Debounce.Elapsed += SearchUsers;
        if (Context.User.Identity.IsAuthenticated)
        {
            if (!string.IsNullOrEmpty(Context.User.GetKey()))
                HasKey = true;
            Challenge.Members.Add(new WagerMember
            {
                ProfileId = Context.User.GetId(),
                Profile = new Profile { DisplayName = Context.User.Identity.Name, Id = Context.User.GetId() },
                ReceivablePercentage = 100,
                PayablePercentage = 100
            });
        }
        base.OnInitialized();
    }

    private async Task AddUser()
    {
        if (SelectedIndex == -1 || SelectedIndex >= Profiles.Count)
        {
            await js.InvokeVoidAsync("alert", "No user has been selected.");
            return;
        }

        Profile profile = Profiles[SelectedIndex];
        if (Challenge.Members.Any(x => x.ProfileId == profile.Id))
        {
            await js.InvokeVoidAsync("alert", $"{profile.DisplayName} is already a member.");
            return;
        }

        Challenge.Members.Add(new WagerMember
        {
            ProfileId = profile.Id,
            Profile = profile,
            ReceivablePercentage = Member.ReceivablePercentage,
            PayablePercentage = Member.PayablePercentage
        });
        ResetUser();
        await js.InvokeVoidAsync("blazorCollapse", "#addCollapse", "hide");
    }

    private void SetErrors()
    {
        Errors = EditContext.GetValidationMessages();
    }

    private void ResetUser()
    {
        Member = new WagerMember();
        Profiles.Clear();
        SelectedIndex = -1;
        DisplayName = null;
    }

    private void Normalize()
    {
        byte avg = (byte)(100 / Challenge.Members.Count);
        Challenge.Members.All(x =>
        {
            x.PayablePercentage = avg;
            x.ReceivablePercentage = avg;
            return true;
        });
    }

    private void BeginTimer(KeyboardEventArgs e)
    {
        Debounce.Stop();
        Debounce.Start();
    }

    private async Task GoToProfile()
    {
        await js.InvokeVoidAsync("blazorModal", "#applyModal", "hide");
        navManager.NavigateTo("/profile");
    }

    private async void SearchUsers(object source, ElapsedEventArgs e)
    {
        if (string.IsNullOrEmpty(DisplayName))
            Profiles.Clear();
        else
            Profiles = await http.Client.GetFromJsonAsync<List<Profile>>("/api/user/search/" + DisplayName);
        StateHasChanged();
    }

    private async Task SubmitChallenge()
    {
        if (!HasKey)
            return;
        HttpResponseMessage response = await http.Client.PostAsJsonAsync($"/api/wager/challenge/{WagerId}", Challenge);
        if (response.IsSuccessStatusCode)
        {
            string link = $"/client/wagers/view/{await response.Content.ReadAsStringAsync()}";
            await js.InvokeVoidAsync("blazorModal", "#applyModal", "hide");
            navManager.NavigateTo(link);
        }
        else
        {
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
        }
    }
}
