@inject AuthHttp http
@inject NavigationManager navManager
@inject IJSRuntime js

<div class="row my-2">
    <div class="col text-right">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#createModal">
            <i class="mdi mdi-plus"></i> Create
        </button>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create a Wager</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <i class="mdi mdi-close-circle-outline"></i>
                </button>
            </div>
            <EditForm EditContext="EditContext" OnValidSubmit="SubmitWager" OnInvalidSubmit="SetErrors">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    @if (!HasKey)
                    {
                        <div class="alert alert-danger" role="alert">
                            You do not have a Stellar public key set. Go to <a @onclick="GoToProfile" role="button" class="alert-link">your profile management page</a> to set one.
                        </div>
                    }
                    <ErrorDisplay @bind-Errors="TotalErrors" />
                    <div class="table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Payable (%)</th>
                                    <th scope="col">Receivable (%)</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (WagerHostBid bid in Wager.Hosts)
                                {
                                    <tr>
                                        <td>@bid.DisplayName</td>
                                        @if (bid.IsEditing)
                                        {
                                            <td>
                                                <input type="number" @bind-value="bid.PayablePt" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="number" @bind-value="bid.ReceivablePt" class="form-control" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@bid.PayablePt%</td>
                                            <td>@bid.ReceivablePt%</td>
                                        }
                                        <td>
                                            <div class="btn-group">
                                                @if (bid.IsEditing)
                                                {
                                                    <button type="button" class="btn btn-link"><i class="mdi mdi-content-save" @onclick="e => SaveEdit(bid)"></i></button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-link"><i class="mdi mdi-pencil" @onclick="e => EditUser(bid)"></i></button>
                                                }
                                                @if (!bid.IsOwner)
                                                {
                                                    <button type="button" class="btn btn-link" @onclick="e => RemoveUser(bid.ProfileId)"><i class="mdi mdi-delete"></i></button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr class="border-top">
                                    <th scope="row">Total:</th>
                                    <td>@Wager.Hosts.Sum(x => x.PayablePt)%</td>
                                    <td>@Wager.Hosts.Sum(x => x.ReceivablePt)%</td>
                                    <td><button type="button" class="btn btn-sm btn-outline-secondary" @onclick="Normalize">Normalize</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-row">
                        <div class="col-9">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <InputText class="form-control" @bind-Value="Wager.Description" />
                            </div>
                        </div>
                        <div class="col-3 my-auto">
                            <div class="form-group form-check">
                                <InputCheckbox @bind-Value="Wager.IsPrivate" class="form-check-input" />
                                <label class="form-check-label">Private</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-primary btn-block" data-toggle="collapse" data-target="#addCollapse" aria-expanded="false" aria-controls="addCollapse">
                        <i class="mdi mdi-account-plus"></i> Add User
                    </button>
                    <div class="collapse" id="addCollapse">
                        <div class="form-row my-2">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="displayName">Display Name</label>
                                    <input type="text" autocomplete="off" @bind-value="DisplayName" class="form-control" id="displayName" @bind-value:event="oninput" @onkeyup="BeginTimer" />
                                </div>
                                @if (Profiles.Count > 0)
                                {
                                    <div class="card overflow-auto" style="max-height: 6rem;">
                                        <div class="btn-group-vertical w-100">
                                            @foreach (Profile profile in Profiles)
                                            {
                                                <button type="button" class="btn btn-block btn-sm @(profile.IsSelected ? "btn-outline-success" : "btn-outline-secondary")" @onclick="e => SelectUser(profile)">@profile.DisplayName</button>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="payablePt">Payable %</label>
                                    <input type="number" @bind-value="Host.PayablePt" class="form-control" id="payablePt" />
                                </div>
                                <div class="form-group">
                                    <label for="receivablePt">Receivable %</label>
                                    <input type="number" @bind-value="Host.ReceivablePt" class="form-control" id="receivablePt" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" @onclick="ResetUser">Reset</button>
                        <button type="button" class="btn btn-success" @onclick="AddUser">Confirm</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    @using System.Timers;
    [Parameter]
    public Game Game { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    [Parameter]
    public EventCallback<string> NameChanged { get; set; }
    private Wager Wager { get; set; } = new Wager();
    private WagerHostBid Host { get; set; } = new WagerHostBid();
    private string DisplayName { get; set; }
    private ICollection<Profile> Profiles { get; set; } = new List<Profile>();
    private Timer Debounce { get; set; } = new Timer(750) { AutoReset = false };
    private IEnumerable<string> TotalErrors { get; set; } = new List<string>();
    private IEnumerable<string> Errors { get; set; } = new List<string>();
    private EditContext EditContext { get; set; }
    private bool HasKey { get; set; } = false;
    private Profile SelectedProfile
    {
        get
        {
            return Profiles.FirstOrDefault(x => x.IsSelected);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        EditContext = new EditContext(Wager);
        Debounce.Elapsed += SearchUsers;
        AuthenticationState context = await AuthenticationStateTask;
        if (Game != null)
            Wager.GameId = Game.Id;
        if (context.User.Identity.IsAuthenticated)
        {
            if (!string.IsNullOrEmpty(context.User.GetKey()))
                HasKey = true;
            Wager.Hosts.Add(new WagerHostBid
            {
                ProfileId = context.User.Claims.First(x => x.Type == WageringGG.Shared.Constants.Claims.Id)?.Value,
                DisplayName = context.User.GetName(),
                ReceivablePt = 100,
                PayablePt = 100,
                IsOwner = true
            });
        }
        await base.OnInitializedAsync();
    }

    private async Task GoToProfile()
    {
        await js.InvokeVoidAsync("blazorModal", "#createModal", "hide");
        navManager.NavigateTo("/profile");
    }

    private void SetErrors()
    {
        TotalErrors = EditContext.GetValidationMessages().Union(Errors);
    }

    private void Normalize()
    {
        byte avg = (byte)(100 / Wager.Hosts.Count);
        Wager.Hosts.All(x =>
        {
            x.PayablePt = avg;
            x.ReceivablePt = avg;
            return true;
        });
    }

    private void BeginTimer(KeyboardEventArgs e)
    {
        Debounce.Stop();
        Debounce.Start();
    }

    private void SelectUser(Profile profile)
    {
        profile.IsSelected = true;
        DisplayName = profile.DisplayName;
    }

    private async Task AddUser()
    {
        Profile profile = SelectedProfile;
        if (profile == null)
        {
            await js.InvokeVoidAsync("alert", "No user has been selected.");
            return;
        }
        if (Wager.Hosts.Any(x => x.DisplayName == profile.DisplayName))
        {
            await js.InvokeVoidAsync("alert", $"{profile.DisplayName} is already a member.");
            return;
        }

        Wager.Hosts.Add(new WagerHostBid
        {
            ProfileId = profile.Id,
            DisplayName = profile.DisplayName,
            ReceivablePt = Host.ReceivablePt,
            PayablePt = Host.PayablePt,
            IsOwner = false
        });
        ResetUser();
        await js.InvokeVoidAsync("blazorCollapse", "#addCollapse", "hide");
    }

    private void ResetUser()
    {
        Host = new WagerHostBid();
        Profiles = new List<Profile>();
        DisplayName = null;
    }

    private void RemoveUser(string profileId)
    {
        WagerHostBid bid = Wager.Hosts.FirstOrDefault(x => x.ProfileId == profileId);
        if (bid == null)
            return;
        Wager.Hosts.Remove(bid);
    }

    private void EditUser(WagerHostBid bid)
    {
        if (bid == null)
            return;
        bid.IsEditing = true;
    }

    private void SaveEdit(WagerHostBid bid)
    {
        if (bid == null)
            return;
        bid.IsEditing = false;
    }

    private async void SearchUsers(Object source, ElapsedEventArgs e)
    {
        if (string.IsNullOrEmpty(DisplayName))
            Profiles = new List<Profile>();
        else
            Profiles = await http.Client.GetFromJsonAsync<ICollection<Profile>>("/api/user/search/" + DisplayName);
        StateHasChanged();
    }

    private async Task SubmitWager()
    {
        if (!HasKey)
            return;
        HttpResponseMessage response = await http.Client.PostAsJsonAsync("/api/wager", Wager);
        if (response.IsSuccessStatusCode)
        {
            int wagerId = await response.Content.ReadFromJsonAsync<int>();
            await js.InvokeVoidAsync("blazorModal", "#createModal", "hide");
            navManager.NavigateTo($"/wagers/view/{wagerId}");
        }
        else
        {
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
            SetErrors();
        }
    }
}
