<div class="card border-primary">
    <div class="card-body">
        <h4 class="card-title">@Wager.Title</h4>
        <div class="card-text">
            @Wager.Description
        </div>
        <div class="my-2">
            <button type="button" class="btn btn-sm">Hosts <span class="badge">@Wager.PlayerCount</span></button>
            <button type="button" class="btn btn-sm">Challenges <span class="badge">@Wager.ChallengeCount</span></button>
            <button type="button" class="btn btn-sm">Amount <span class="badge">@Wager.Amount.ToString("G29") XLM</span></button>
        </div>
        <div class="d-flex">
            @if (Link != null)
            {
                <a class="btn btn-outline-secondary" href="@Link">View</a>
            }
            <TimeAgo Date="Wager.Date" Class="mt-auto ml-auto text-muted" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Link { get; set; }
    [Parameter]
    public Wager Wager { get; set; }
}
