<div class="card border-primary">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Payable (%)</th>
                        <th scope="col">Receivable (%)</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WagerMember member in Members)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-secondary btn-sm" href="@($"/user/{member.Profile.DisplayName}")" title="View profile">@member.Profile.DisplayName</a>
                            </td>
                            <td>@member.PayablePercentage%</td>
                            <td>@member.ReceivablePercentage%</td>
                            <td>
                                @if (member.IsApproved.HasValue)
                                {
                                    @if (member.IsApproved.Value == false)
                                    {
                                        <button class="btn btn-outline-danger btn-sm disabled" title="@($"{member.Profile.DisplayName} declined the wager.")"><i class="mdi mdi-cancel"></i></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-success btn-sm disabled" title="@($"{member.Profile.DisplayName} accepted the wager.")"><i class="mdi mdi-check"></i></button>
                                    }
                                }
                                else
                                {
                                    <small class="text-muted">Pending...</small>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<WagerMember> Members { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
